<div class="graph">
  <!-- <div *ngIf="selectedtype == ''" class="empty-box">
    Select chart type and enter data to display the chart.
  </div> -->
  <img src="../assets/empty space.svg">
  <div class="graph-container" *ngIf="selectedtype !== ''">
    <app-defaultbar *ngIf="selectedtype == 'bar'"></app-defaultbar>
    <app-defaultline *ngIf="selectedtype == 'line'"></app-defaultline>
    <app-defaultpie *ngIf="selectedtype == 'pie'"></app-defaultpie>
    <div *ngIf="shouldDisplayChart()">
      <apx-chart
        [series]="chartSeries"
        [chart]="chartOptions"
        [xaxis]="xaxis"
        [legend]="legend"
        [labels]="chartLabels"
        [dataLabels]="dataLabels"
        [title]="titleSubtitle">
      </apx-chart>
    </div>
  </div>
</div>
&nbsp;
<div class="graphdetails">
  <div class="list-group-item">
    <form (ngSubmit)="onSave()" #f="ngForm">
      <div class="row">
        <div class="col-xs-6">
          <div class="field-1">
            <span class="header">Basic</span>
          <div>
          <label for="title" class="title">Widget title</label>
          <input id="title" placeholder="Title name 1" name="title" class="form-control" [(ngModel)]="text">      
        </div>  
          <!-- <div>
          <label for="Subtitle" class="title">Widget Subtitle (optional)</label>
          <input id="Subtitle" placeholder="Subtitle name 1" name="Subtitle" class="form-control" [(ngModel)]="Subtext">      
        </div> 
          <div>
          <label for="title" class="title">Size</label>
          <select class="form-control" id="size" name="size">
             <option value="" disabled selected>Select</option>
            <option value="large">Large</option>
            <option value="small">Small</option>
            <option value="small">Medium</option>
          </select>
        </div>  -->
      </div>
        </div>
        <div class="field-1 col-xs-6">
          <label for="type" class="header">Define a visualization</label>
          <div id="type" class="image-container">
            <div *ngFor="let chartType of types">
              <img
                 [src]="chartType.icon"
                 alt="{{ chartType.type }} chart"
                 (click)="selectChartType(chartType.type)"
                 [class.selected]="selectedtype === chartType.type"
                 class="image-section"
                 >
              <p class="graph-names">{{chartType.name}}</p>
            </div>
          </div>      
        </div>       
      </div>
      &nbsp;
      <div class="row">
        <div class="col-xs-6">
          <label for="x-axis" class="title">{{selectedtype == 'pie'?'Segment By':'X-axis'}}</label>
          <select id="x-axis" class="form-control" [(ngModel)]="SelectXaxis" name="x-axis">
            <option value="" disabled selected>Select</option>
              <option *ngFor="let i of Xaxis">{{ i }}</option>
          </select>        
        </div>
        <div class="col-xs-6">
          <label for="y-axis" class="title">{{selectedtype == 'pie'?'Measure':'Y-axis'}}</label>
          <select id="y-axis" class="form-control" [(ngModel)]="SelectYaxis" name="y-axis">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let i of Yaxis">{{ i }}</option>
          </select>            
        </div>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-xs-12 button-conatiner">
          <button class="add-button" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>